@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap";

:root {
  --main-bg-color: #ff1155;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Estilos para la barra de scroll */
/* para navegadores de tipo webkit como Chrome, Safari, Edge */
::-webkit-scrollbar {
  width: 10px; /* ancho */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* color de fondo de la barra */
}

::-webkit-scrollbar-thumb {
  background: #888; /* color de la barra */
  border-radius: 5px; /* borde redondeado */
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main-bg-color); /* color de la barra al pasar el cursor */
}

/* para navegadores Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

*::-webkit-scrollbar {
  width: 0.4em;
}

*::-webkit-scrollbar-thumb {
  background-color: #888;
  outline: 1px solid #f1f1f1;
}

*::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

*::-webkit-scrollbar-corner {
  background-color: #f1f1f1;
}

